.footer {
    position: absolute;
    bottom: 10px;
    text-align: right;
    width: 100%;
    background-color: #1b1615;
}

.container {
    margin: 20px;
    padding: 5px;
}

p {
    color:#d1b29a;
    margin: 0px;
}